* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

.navbar-brand {
    font-family: 'Noticia Text', serif;
    font-size: 2em;
    padding-left: 2.5em;
}


.nav-link {
    color: #f5f3f4;
}

.collapse.navbar-collapse {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
}


.bg-dark {
  --bs-bg-opacity: 0;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: right;
}


body {
    background-color: black;
}

video {
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.row, .col {
    border-radius: 20px;
    margin: 20px;
    padding-right: 0;
    justify-content: center;
}

.row > div {
    padding: 0;
    border-radius: 20px;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: right;
}

.container-desc {
    margin: 0 20px;
}

.carousel {
    padding: 5%;
}

.carousel-inner {
    border-radius: 20px;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#perfil {
    width: 80%;
    border-radius: 100%;
    margin: 20px 0;
}

p {
    display: flex;
    justify-content: center;
    margin-left: 32em;
    margin-right: 32em;
    margin-top: 5%;
}
.videocont {
    margin-top: 40px;
}

.container.text-center {
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 6vh;
  }
  
  .footer-logo {
    font-family: 'Noticia Text', serif;
     font-size: 2em;
     padding-top: 2vh;
  }
  
  .col-8.col-sm-6 {
    padding-top: 3vh;
  }
  
  .col-4.col-sm-6 {
    padding-top: 3vh;
  }
  
  .text-footer {
    font-size: 50%;
  }

@media (min-width: 990px){
    
    #perfil {
        width: 20%;
    }


}

@media (max-width: 1450px) {
    p {
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 5%;
        }
}

@media (max-width: 700px) {
    p {
        margin-left: 5em;
        margin-right: 5em;
        margin-top: 5%;
        }
}
